/* Container */
.input {
    
    /* this is needed for label-positioning */
    position: relative;
    
    /* this can be adjusted */
    height: 56px;
    width: calc(100% - (2 * /*margin:*/ 10px));
    max-width: 220px;
    margin: 10px;
    font-family: "Arial";
}


/* Input field */
div.input > input {
    
    /* input fills the whole size of the div */
    width:  100%;
    height: 100%;
    box-sizing: border-box;
    
    /* space around the text */
    padding: 14px 16px;
    
    /* border */
    border: 1.2px solid rgba(0, 0, 0, .28);
    border-radius: 7px;
    transition: border .2s;
    
    /* font */
    font-size: 17px;
}

div.input > input:hover {
    
    /* darker border on hover */
    border: 1.6px solid rgba(0, 0, 0, .445);
}

div.input > input:focus {
    
    /* colored border on focus, instead of outline */
    border: 2.3px solid #0B6;
    outline: 0;
}
/* different border colors */
div.input.yellow > input:focus {border-color: #FC1;}
div.input.orange > input:focus {border-color: #F62;}
div.input.purple > input:focus {border-color: #60E;}
div.input.green  > input:focus {border-color: #0B6;}
div.input.blue   > input:focus {border-color: #06B;}
div.input.red    > input:focus {border-color: #B02;}


/* The label describing the input field */
div.input > label {
    
    /* position the label in the center of the input field */
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: calc(16px - 2.5px);
    
    /* bring it to the top but without being target of mouse events */
    z-index: 100;
    pointer-events: none;
    
    /* handle labels with much text */
    max-width: calc(100% - (2 * 16px + 6px));
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    
    /* 
     * This space will get replaced by the border when 
     * the input is in focus, but is needed also here so the 
     * left-value is correct.
     */
    padding-left: 5px;
    
    /* smooth transition to the top */
    transition-property: color, top, font;
    transition-duration: .32s;
    
    /* white background to hide the border behind the text */
    background: white;
    
    /* styling the text */
    color: rgba(0, 0, 0, .54);
    font-size: 17px;
}

div.input > label:focus {
    
    /* remove outline */
    outline: 0; 
}

div.input > input:focus ~ label,
div.input > input:valid ~ label {

    /* new position at the top */
    top: calc(2.3px / 2);
    transform: translate(0%, -50%);
    
    /*
     * Remove the padding and use borders instead, 
     * since text can overlap paddings, but not borders.
     */
    padding: 0;
    border-left:  5px solid transparent;
    border-right: 5px solid transparent;
    
    /* decrease the font size */
    font-size: 13px;
}

div.input > input:hover ~ label{
    
    /* darker text onHover */
    color: rgba(0, 0, 0, .76);
}

div.input > input:focus ~ label{
    
    /* colored text on focus */
    color: #0B6 !important;
}

/* different colors of the focussed label */
div.input.orange > input:focus ~ label {color: #F62 !important;}
div.input.yellow > input:focus ~ label {color: #FC1 !important;}
div.input.purple > input:focus ~ label {color: #60E !important;}
div.input.green  > input:focus ~ label {color: #0B6 !important;}
div.input.blue   > input:focus ~ label {color: #06B !important;}
div.input.red    > input:focus ~ label {color: #B02 !important;}